<!DOCTYPE html>
<html>
<head>
  <title>Parkingapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!--
        Bootstrap cdn
        =============
  -->
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">

  <!-- 
    Header nav
  -->
  <div class="masthead">
    <h3 class="text-muted">InstaParking</h3>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li class="<%=  @home_class %>"><a href="/">Home</a></li>
            
            <% if user_signed_in? %>
              
              <li class="dropdown">
                <a href="" class="dropdown-toggle <%= @ofertar_class %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Ofertar 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/parking_lots/">Mis estacionamientos</a></li>
                  <li><a href="/parking_lots/new">Publicar/Agregar estacionamiento</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/parking_lots/sales">Reporte de ganancia total por estacionamiento</a></li>
                </ul>
            </li>         
            
              <li class="dropdown">
                <a href="/parking_lots" class="dropdown-toggle <%=  @buscar_class %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Buscar 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/parking_lots/search">Buscar estacionamiento</a></li>
                  <li><a href="/rents/history">Historial</a></li>
                </ul>
            </li>
            
            
            <% if current_user.email == "admin@instaparking.com" %>
              <li class="<%=  @admin_class %>"><a href="/districts">Admin</a></li>
            <% end %>
            
            <% else %>
              <li class="<%=  @buscar_class %>"><a href="/parking_lots/search">Buscar</a></li>
              <li class="<%=  @ofertar_class %>"><a href="/parking_lots/new">Ofertar</a></li>
            <% end %>
                        
            <li class="<%=  @faq_class %>"><a href="/faq">FAQ</a></li>
            <li class="<%=  @quienessomos_class %>"><a href="/quienessomos">Quienes Somos</a></li>
            <li class="<%=  @contacto_class %>"><a href="/contacto">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
                    <!-- -->
            <% if user_signed_in? %>
              <li> <a href="#">Bienvenido <%= current_user.name  %> </a></li>            
              <li > <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            
            <% else %>
              
            
              <li><%= link_to "Sign In", new_user_session_path, :method => :get %></li>
              <li><%= link_to "Sign up", new_user_registration_path, :method => :get %></li>
            
            <% end %>
            <!-- -->
            
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </div>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-info alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>

  
      <% if flash[:mensaje] %>
        <div class="alert alert-info" role="alert">
          <strong> <%= h flash[:mensaje] %></strong>
        </div>
    <% end %>

      <div>
        <%= yield %>
      </div>

      <!-- Site footer -->
      <footer class="col-md-12">
        <p>© 2016 InstaParking, Inc.</p>
      </footer>

    </div>



</body>
</html>
