<div class="col-md-6 col-md-offset-3">
<fieldset>
      <div id="legend">
      <legend class="">
        <h2>Sign up</h2>
      </legend>
    </div>    

<%= form_for(resource, as: resource_name, :html => {:class => "form-horizontal"}, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email,:class => "control-label" %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %><br />
    <%= f.text_field :name, autofocus: true, :class => "form-control" %>
  </div>
  
  <div class="control-group">
    <%= f.label :lastname, :class => "control-label" %><br />
    <%= f.text_field :lastname, autofocus: true, :class => "form-control" %>
  </div>
  
  <div class="control-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>
  
  <div class="control-group">

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>
  
</br>
    <div class="control-group">
      <div class="controls">
      <%= f.submit  "Sign in", :class => "btn btn-success" %> <%= render "devise/shared/links" %>
      </div>
    </div>

<% end %>


</fieldset>
</div>
