<h2>Mis estacionamientos </h2>
<a href="/parking_lots/new" >Ofertar/Publicar estacionamiento</a>
<table class="table table-hovered table-bordered">
    <thead>
    <tr>
        <th>Estacionamiento</th>
        <th>Descripcion</th>
        <th>Distrito</th>
        <th>precio por hora</th>
        <th>Espacios</th>
    <!--    <th>available spaces</th> -->
        <th></th>
    </tr>        
    </thead>
    <tbody>
    <% @parkings.each do |parking| %>    
    <tr>
        <td><%= parking.name %></td>
        <td><%= parking.description %></td>
        <td><%= parking.district.description %></td>
        <td><%= parking.price %></td>
        <td><%= parking.spaces %></td>
        <!--    <td><%= parking.spaces %></td> -->
        <td>
            <a href="/parking_lots/<%= parking.id %>"> Detalles</a> | 
                <a href="/parking_lots/<%= parking.id %>/rents">Reporte alquileres</a>
        </td>
    </tr>
    <% end %>
    </tbody>
    
</table>