<p>
    <strong>Id:</strong> <%= @parking.id %>
</p>
<p>
    <strong>name:</strong> <%= @parking.name %>
</p>
<p>
    <strong>Descripción:</strong> <%= @parking.description %>
</p>
<p>
    <strong>Distrito:</strong> <%= @parking.district.description %>
</p>
<p>
    <strong>Precio:</strong> <%= @parking.price %>
</p>
<p>
    <strong>Espacios:</strong> <%= @parking.spaces %>
</p>
<img src="<%= @parking.photo %>"></img>